<!DOCTYPE html>
<html>
  <head>
    <title>LikeLion</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <%=render 'layouts/header'%>
    <div class="container">

      <% flash.each do |msg_type, msg| %>
        <% name = flash_msg(msg_type) %>
        <%= content_tag(:div, msg, class: ['alert',"alert-#{name}"], role: 'alert')%>
      <% end %>

    <%= yield %>
    </div>
  </body>
</html>
